<br><br>
<div class="jumbotron">
  <h1 class="display-4">Employees Application</h1>
  <p class="lead">This is  my first simple application on rails.</p>
  <hr class="my-4">
  <p>This has all the CRUD functionality .<br>
     Clicking Employees gives the list of employees.<br>
     Create new Employees by add Employee button.<br>
     Delete , Edit and Read Employees can be done in the employees page.</p>
  
</div>

